.profile {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #bfbfbf;
  margin: 0 auto;
  background-color: rgb(208, 222, 235);
  padding: 15px;
}

.description {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
 
}
.avatar {
 
  width: 250px;
  border-radius: 50%;
  border: 1px solid #000000;
}
.name {
 font-weight: 600;
 font-size: 40px;
}
 .tag,
 .location {
 color: rgb(8, 77, 77);
}
 
.stats {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  
 
}

.label {
  display: block;
  align-items: center;
    justify-content: center;
}
.quantity {
  text-align: center;
} 
