.profile {
  
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  margin: 0 auto;
  background-color: rgb(208, 222, 235);
  padding: 15px;
}

.description {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
 
}
.avatar {
 
  width: 250px;
  border-radius: 50%;
  border: 1px solid #000000;
  box-shadow: rgb(8, 77, 77) 0px 0px 10px;
}
.name {
 font-weight: 600;
 font-size: 40px;
}
 .tag,
 .location {
 color: rgb(8, 77, 77);
}
 
.stats {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
 
 
}


.label {
  display: block;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  }

/* .quantity {
  /* text-align: center; */
/* }   */
