.table{
    width: 100%;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    /* border: 3px solid rgb(20, 10, 20); */
    background-color: rgb(208, 222, 235);
    text-align: center;
    font-size: 12px;
}
thead {
    border-top: 1px solid;
    font-weight: 700;
text-align: center;
    text-transform: uppercase;
}

th {

    border-top: 0.5px solid;
}

td {

    border-top: 0.5px solid;

}